img {
    width: 50px;

}
nav {
    justify-content: space-between;
    align-items: center;
}
ul,nav {
    display: flex;
    
}
ul li  {
    list-style: none;
    padding:10px;
}

.footer {
    background-color: blue;
    color: white;
    padding: 5px;
}

nav {
    background-color: azure;
}